name: Aggiorna Sito CAI

on:
  schedule:
    - cron: '0 07,15,23 * * *' # Gira alle 7:00, 15:00 e 23:00
  workflow_dispatch: # Permette avvio manuale

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run aggregator
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python aggregator.py

      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add *.html
          git diff --quiet && git diff --staged --quiet || (git commit -m "Aggiornamento automatico" && git push)
